---
layout: archive
title: ""
permalink: /projects/
author_profile: true
---



<h1> Research Projects (PhD), test</h1>
<h1> Research Projects (PhD), test</h1>
<h1>Hi</h1>
<p> {{ site.projects }}</p>

{% include base_path %}
{% for post in site.projects + "projects_research/" reversed %}
  {% include archive-single.html %}
{% endfor %}

<h1> Academic Projects (relevant)</h1>

{% include base_path %}
{% for post in site.projects + "projects_acad/" reversed %}
  {%site.projects%}
  {% include archive-single.html %}
{% endfor %}

For more details about my projects, please look at my <a href="https://mainak-biswas1999.github.io/files/CV_Mainak_Nov2022.pdf">Resume (2022)</a>, and visit my <a href="https://github.com/mainak-biswas1999/">Github</a> account. 